body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Barriecito', cursive;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    flex: 0 0 calc(33.33% - 20px); /* Adjust as needed for spacing */
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.image-container img {
    max-width: 100%;
    height: auto;
}
